@{
    ViewBag.Title = "Home Page";
}


    <center>
    <img src="~/Content/AppImage.png" height="400" width="400">
        <h1 style="color:coral"><b>Knowledge Repository</b></h1>
        </center>



